---
http_interactions:
- request:
    method: post
    uri: https://svc.zesty.io/auth/login
    body:
      encoding: UTF-8
      string: "-----------------------83489a2098daf687494850c1a3661d8772d6d75ecb\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------83489a2098daf687494850c1a3661d8772d6d75ecb\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------83489a2098daf687494850c1a3661d8772d6d75ecb--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------83489a2098daf687494850c1a3661d8772d6d75ecb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6-v7yISczPAycP7AOsudGgyJDQ9R0"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"d7cf6bfcee0be9aa0e6e7cc5edf17a0ecceb052b"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 18:16:57 GMT
recorded_with: VCR 5.0.0
