---
http_interactions:
- request:
    method: post
    uri: https://svc.zesty.io/auth/login
    body:
      encoding: UTF-8
      string: "-----------------------50e31e6bb5befe1650e47cafbcc251eb066a05ad3a\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------50e31e6bb5befe1650e47cafbcc251eb066a05ad3a\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------50e31e6bb5befe1650e47cafbcc251eb066a05ad3a--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------50e31e6bb5befe1650e47cafbcc251eb066a05ad3a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6-rM1NvwT1Rgpd6C2FHuFTrnYmEDQ"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"ed442a9254c01c96e3b7e02325431acad378c3a4"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 16:35:16 GMT
recorded_with: VCR 5.0.0
