---
http_interactions:
- request:
    method: post
    uri: https://svc.zesty.io/auth/login
    body:
      encoding: UTF-8
      string: "-----------------------e6deae2d8b17914131ea3fd950da7bc7f981dc576e\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------e6deae2d8b17914131ea3fd950da7bc7f981dc576e\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------e6deae2d8b17914131ea3fd950da7bc7f981dc576e--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------e6deae2d8b17914131ea3fd950da7bc7f981dc576e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6-ujs67m/V5LrZF2z0z6u2Sa/d6nk"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"06404fc8871adbd57e7bc6dd2fcea6b1514295c3"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 18:16:56 GMT
recorded_with: VCR 5.0.0
