---
http_interactions:
- request:
    method: post
    uri: https://svc.zesty.io/auth/login
    body:
      encoding: UTF-8
      string: "-----------------------16714b6ae61fd65a809d5fec20394cab5547660569\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------16714b6ae61fd65a809d5fec20394cab5547660569\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\ninvalid\r\n-----------------------16714b6ae61fd65a809d5fec20394cab5547660569--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------16714b6ae61fd65a809d5fec20394cab5547660569
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63-0lmv24dxo3AgRNajf4NByiJYpyc"
    body:
      encoding: UTF-8
      string: '{"message":"Invalid username or password","status":"Unauthorized","data":null,"meta":{},"code":401}'
  recorded_at: Tue, 24 Sep 2019 16:35:17 GMT
recorded_with: VCR 5.0.0
