---
http_interactions:
- request:
    method: post
    uri: https://svc.zesty.io/auth/login
    body:
      encoding: UTF-8
      string: "-----------------------c876dad277d481b597a2e01fbf487170af2e417610\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------c876dad277d481b597a2e01fbf487170af2e417610\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------c876dad277d481b597a2e01fbf487170af2e417610--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------c876dad277d481b597a2e01fbf487170af2e417610
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6-WcJn1gcbOniZFizHBAB/qdhqMao"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"3df1c1d91d21a24ce2cc99b96c0a97b90554bf04"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 16:39:30 GMT
recorded_with: VCR 5.0.0
