---
http_interactions:
- request:
    method: post
    uri: https://svc.zesty.io/auth/login
    body:
      encoding: UTF-8
      string: "-----------------------9dab9fab242324fe2ab2f27e58c1cde7f8233e58f0\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------9dab9fab242324fe2ab2f27e58c1cde7f8233e58f0\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------9dab9fab242324fe2ab2f27e58c1cde7f8233e58f0--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------9dab9fab242324fe2ab2f27e58c1cde7f8233e58f0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6-8UXQ0El4qgUdrR6ufKFcgkwcLlU"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"bd03ac25ef68013379d1aa539b7e216f6879dc68"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 16:35:18 GMT
- request:
    method: get
    uri: https://svc.zesty.io/auth/verify
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e-85UoZPBehXDBFXU3QEvQdy9Kbw0"
    body:
      encoding: UTF-8
      string: '{"message":"Session valid","status":"OK","data":21475261,"meta":{"userZuid":"5-c6d69fadc2-b8k5kz"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 16:35:18 GMT
recorded_with: VCR 5.0.0
