---
http_interactions:
- request:
    method: post
    uri: https://svc.zesty.io/auth/login
    body:
      encoding: UTF-8
      string: "-----------------------a8c569d85aff17cf2762fe0c944d494f1ad7ebc040\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------a8c569d85aff17cf2762fe0c944d494f1ad7ebc040\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------a8c569d85aff17cf2762fe0c944d494f1ad7ebc040--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------a8c569d85aff17cf2762fe0c944d494f1ad7ebc040
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6-PlmJF4y/HmdsCC8c3HirT5Ay/og"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"065bb58688c58aa784979d8db7510cb707706ff7"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 18:16:55 GMT
- request:
    method: get
    uri: https://svc.zesty.io/auth/verify
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e-85UoZPBehXDBFXU3QEvQdy9Kbw0"
    body:
      encoding: UTF-8
      string: '{"message":"Session valid","status":"OK","data":21475261,"meta":{"userZuid":"5-c6d69fadc2-b8k5kz"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 18:16:55 GMT
recorded_with: VCR 5.0.0
