---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: UTF-8
      string: "-----------------------37354ae6df60b96f1e53eb7b77263a9c08ec60f4ad\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------37354ae6df60b96f1e53eb7b77263a9c08ec60f4ad\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\ninvalid\r\n-----------------------37354ae6df60b96f1e53eb7b77263a9c08ec60f4ad--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------37354ae6df60b96f1e53eb7b77263a9c08ec60f4ad
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"63-0lmv24dxo3AgRNajf4NByiJYpyc"
    body:
      encoding: UTF-8
      string: '{"message":"Invalid username or password","status":"Unauthorized","data":null,"meta":{},"code":401}'
  recorded_at: Wed, 01 Jul 2020 17:16:29 GMT
recorded_with: VCR 6.0.0
