---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: UTF-8
      string: "-----------------------12f6eedad0be70af0f8a3200e4925218e086f26b5d\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------12f6eedad0be70af0f8a3200e4925218e086f26b5d\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------12f6eedad0be70af0f8a3200e4925218e086f26b5d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------12f6eedad0be70af0f8a3200e4925218e086f26b5d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"d6-RlENAdWsUZp8HBUGvqzQtcRwBXg"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"<TOKEN>"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Mon, 16 Mar 2020 16:12:31 GMT
recorded_with: VCR 5.0.0
