---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: UTF-8
      string: "-----------------------89e42262d88da6a1b98d18123aac40726eb9403ee1\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------89e42262d88da6a1b98d18123aac40726eb9403ee1\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\ninvalid\r\n-----------------------89e42262d88da6a1b98d18123aac40726eb9403ee1--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------89e42262d88da6a1b98d18123aac40726eb9403ee1
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"63-0lmv24dxo3AgRNajf4NByiJYpyc"
    body:
      encoding: UTF-8
      string: '{"message":"Invalid username or password","status":"Unauthorized","data":null,"meta":{},"code":401}'
  recorded_at: Mon, 16 Mar 2020 16:12:30 GMT
recorded_with: VCR 5.0.0
