---
http_interactions:
- request:
    method: get
    uri: https://auth.api.zesty.io/verify
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"51-0ks0VWdVJcxrhFmIR7FLHCKPB/w"
    body:
      encoding: UTF-8
      string: '{"message":"No Session","status":"Unauthorized","data":null,"meta":{},"code":401}'
  recorded_at: Wed, 01 Jul 2020 15:53:19 GMT
recorded_with: VCR 6.0.0
