---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: UTF-8
      string: "-----------------------40566c3742fb009d22b7e3155ff3c1d8e763b8fff5\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------40566c3742fb009d22b7e3155ff3c1d8e763b8fff5\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------40566c3742fb009d22b7e3155ff3c1d8e763b8fff5--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------40566c3742fb009d22b7e3155ff3c1d8e763b8fff5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"d6-xfdZBiZ/RaCI9uBhvJbNBftJMKc"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"<TOKEN>"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Mon, 16 Mar 2020 16:12:32 GMT
- request:
    method: get
    uri: https://auth.api.zesty.io/verify
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"80-MCtIZMWhRY45kIHelbz4VLuiRcA"
    body:
      encoding: UTF-8
      string: '{"message":"Session valid","status":"OK","data":21475261,"meta":{"userId":21475261,"userZuid":"5-c6d69fadc2-b8k5kz"},"code":200}'
  recorded_at: Mon, 16 Mar 2020 16:12:32 GMT
recorded_with: VCR 5.0.0
