---
http_interactions:
- request:
    method: post
    uri: https://svc.zesty.io/auth/login
    body:
      encoding: UTF-8
      string: "-----------------------d5ae209f5c823d137efacb8e5e6f9c68428a9031ff\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------d5ae209f5c823d137efacb8e5e6f9c68428a9031ff\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------d5ae209f5c823d137efacb8e5e6f9c68428a9031ff--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------d5ae209f5c823d137efacb8e5e6f9c68428a9031ff
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6-RI96CY9eyCON7nIxXhrtHe3orl0"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"07bcfa3b78d5d8db0b2120cff62eb7f769e5b451"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 18:17:05 GMT
- request:
    method: post
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/web/headtags
    body:
      encoding: UTF-8
      string: '{"type":"link","attributes":{"rel":"icon","type":"image/png","href":"favicon-64.png","data-manual":true},"sort":1,"resourceZUID":"<INSTANCE_ZUID>"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"_meta":{"timestamp":"2019-09-24T18:17:05.519480278Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ZUID":"21-cefd83a3f7-rv0f7h","type":"link","attributes":{"data-manual":true,"href":"favicon-64.png","rel":"icon","type":"image/png"},"resourceZUID":"<INSTANCE_ZUID>","sort":1,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","updatedByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2019-09-24T18:17:05.511141938Z","updatedAt":"2019-09-24T18:17:05.511147679Z"}}

'
  recorded_at: Tue, 24 Sep 2019 18:17:05 GMT
- request:
    method: delete
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/web/headtags/21-cefd83a3f7-rv0f7h
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2019-09-24T18:17:05.793996576Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ZUID":"21-cefd83a3f7-rv0f7h","type":"link","attributes":{"data-manual":true,"href":"favicon-64.png","rel":"icon","type":"image/png"},"resourceZUID":"<INSTANCE_ZUID>","sort":1,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","updatedByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2019-09-24T18:17:05Z","updatedAt":"2019-09-24T18:17:05Z"}}

'
  recorded_at: Tue, 24 Sep 2019 18:17:05 GMT
recorded_with: VCR 5.0.0
