---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: UTF-8
      string: "-----------------------be877c848c4c4d52354aa3031cbaf22af198dca4e1\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------be877c848c4c4d52354aa3031cbaf22af198dca4e1\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------be877c848c4c4d52354aa3031cbaf22af198dca4e1--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------be877c848c4c4d52354aa3031cbaf22af198dca4e1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"d6-c6gwDCztRLSzf2QBIjxKkiyhs5k"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"<TOKEN>"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Mon, 16 Mar 2020 16:20:43 GMT
- request:
    method: post
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/web/headtags
    body:
      encoding: UTF-8
      string: '{"type":"link","attributes":{"rel":"icon","type":"image/png","href":"favicon-64.png","data-manual":true},"sort":1,"resourceZUID":"<INSTANCE_ZUID>"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"_meta":{"timestamp":"2020-03-16T16:20:44.159873514Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ZUID":"21-b8efa0c8a0-9kh39f","type":"link","attributes":{"data-manual":true,"href":"favicon-64.png","rel":"icon","type":"image/png"},"resourceZUID":"<INSTANCE_ZUID>","sort":1,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","updatedByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2020-03-16T16:20:44.153006413Z","updatedAt":"2020-03-16T16:20:44.153014009Z"}}

'
  recorded_at: Mon, 16 Mar 2020 16:20:44 GMT
- request:
    method: delete
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/web/headtags/21-b8efa0c8a0-9kh39f
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2020-03-16T16:20:44.60492548Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ZUID":"21-b8efa0c8a0-9kh39f","type":"link","attributes":{"data-manual":true,"href":"favicon-64.png","rel":"icon","type":"image/png"},"resourceZUID":"<INSTANCE_ZUID>","sort":1,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","updatedByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2020-03-16T16:20:44Z","updatedAt":"2020-03-16T16:20:44Z"}}

'
  recorded_at: Mon, 16 Mar 2020 16:20:44 GMT
recorded_with: VCR 5.0.0
