---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: ASCII-8BIT
      string: "-----------------------07b6f0a2033597a319258a45e0a322a991bea61bdf\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------07b6f0a2033597a319258a45e0a322a991bea61bdf\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------07b6f0a2033597a319258a45e0a322a991bea61bdf--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------07b6f0a2033597a319258a45e0a322a991bea61bdf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"d6-WN5CQNLLuZKo33BAXFzKkdIOSC8"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"<TOKEN>"},"meta":{"userZuid":"5-d8daa08585-l6620k","token":"<TOKEN>"},"code":200}'
  recorded_at: Fri, 26 Jan 2024 18:28:46 GMT
- request:
    method: post
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/content/models/6-d08392dbc9-9gl4bk/items
    body:
      encoding: ASCII-8BIT
      string: '{"web":{"metaTitle":"Example Only","metaLinkText":"Example Link Text"},"data":{"display_order":4,"lottery_name":"Test
        Lottery","jackpot_amount":5000000,"next_drawing":"2024-01-26","primary_color":"#ff0000"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Instances-Api-Cache:
      - unreachable
    body:
      encoding: UTF-8
      string: '{"_meta":{"timestamp":"2024-01-26T18:28:46.52808851Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ZUID":"7-d48aa29bd3-r1nqf7"}}

        '
  recorded_at: Fri, 26 Jan 2024 18:28:46 GMT
recorded_with: VCR 6.1.0
