---
http_interactions:
- request:
    method: post
    uri: https://svc.zesty.io/auth/login
    body:
      encoding: UTF-8
      string: "-----------------------9dfd748059306111d5447f9bc4b0174f696588d852\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------9dfd748059306111d5447f9bc4b0174f696588d852\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------9dfd748059306111d5447f9bc4b0174f696588d852--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------9dfd748059306111d5447f9bc4b0174f696588d852
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6-wJ59BKgIzKNeEVQl+QwNURJli8c"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"28f870da938733b361e7c8e076f096945bdafa64"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 18:17:06 GMT
- request:
    method: get
    uri: https://accounts.api.zesty.io/v1/instances/<INSTANCE_ZUID>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2019-09-24T18:17:06.849993466Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ID":8355883,"ZUID":"<INSTANCE_ZUID>","ecoID":null,"ecoZUID":null,"randomHashID":"2b8zbm48","domain":"jackpockettest3.zesty.site","name":"test3","planID":17,"cancelledReason":null,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","prefs":null,"blueprintID":1,"blueprintZUID":"14-64329e0-555644","requiresTwoFactor":0,"legacy":false,"screenshotURL":null,"createdAt":"2019-08-28T19:12:14Z","updatedAt":"2019-09-23T18:07:35Z"}}

'
  recorded_at: Tue, 24 Sep 2019 18:17:06 GMT
recorded_with: VCR 5.0.0
