---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: UTF-8
      string: "-----------------------75b5ba7e57d72d4d8d205cecdab7d622e23e1b9684\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------75b5ba7e57d72d4d8d205cecdab7d622e23e1b9684\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------75b5ba7e57d72d4d8d205cecdab7d622e23e1b9684--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------75b5ba7e57d72d4d8d205cecdab7d622e23e1b9684
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"d6-ORpUrjyQ6jSqQ1e4FjD7rs+CwFo"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"<TOKEN>"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Mon, 16 Mar 2020 16:20:45 GMT
- request:
    method: get
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/content/models
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2020-03-16T16:20:45.603284786Z","totalResults":11,"start":0,"offset":0,"limit":11},"data":[{"ZUID":"6-a0fa7c-gwxs6p","masterZUID":"6-a0fa7c-gwxs6p","parentZUID":"","description":null,"label":"Globals","metaTitle":null,"metaDescription":null,"metaKeywords":null,"type":"dataset","name":"clippings","sort":1,"listed":true,"module":0,"plugin":0,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","updatedByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2019-08-28T19:14:00Z","updatedAt":"2019-08-28T19:14:00Z"},{"ZUID":"6-f8ec3c-gk32qf","masterZUID":"6-f8ec3c-gk32qf","parentZUID":null,"description":null,"label":"Homepage","metaTitle":null,"metaDescription":null,"metaKeywords":null,"type":"templateset","name":"homepage","sort":1,"listed":true,"module":0,"plugin":0,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","updatedByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2019-08-28T19:14:03Z","updatedAt":"2019-08-28T19:14:03Z"},{"ZUID":"6-8a82ebdf82-z498zb","masterZUID":"6-8a82ebdf82-z498zb"[...]
