---
http_interactions:
- request:
    method: post
    uri: https://svc.zesty.io/auth/login
    body:
      encoding: UTF-8
      string: "-----------------------1f5218c152624a6161547c775b1fd429ad5dfc1abc\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------1f5218c152624a6161547c775b1fd429ad5dfc1abc\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------1f5218c152624a6161547c775b1fd429ad5dfc1abc--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------1f5218c152624a6161547c775b1fd429ad5dfc1abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6-XPQ2P02y/t0t5/VfVm69LeErkqc"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"48190227be6b531cddd1c04a35a3bb7251151774"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 18:17:02 GMT
- request:
    method: get
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/content/models/6-d08392dbc9-9gl4bk/items
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2019-09-24T18:17:02.470036241Z","totalResults":3,"start":0,"offset":0,"limit":3},"data":[{"web":{"metaDescription":"","metaTitle":null,"metaLinkText":null,"metaKeywords":null,"parentZUID":null,"pathPart":null,"path":null,"sitemapPriority":0,"canonicalTagMode":0,"canonicalQueryParamWhitelist":null,"canonicalTagCustomValue":null,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2019-09-24T18:17:01Z","updatedAt":"2019-09-24T18:17:01Z"},"meta":{"ZUID":"7-b29aa3e7ee-0swr1f","masterZUID":"7-b29aa3e7ee-0swr1f","contentModelZUID":"6-d08392dbc9-9gl4bk","contentModelName":null,"sort":null,"listed":true,"version":64,"langID":1,"createdAt":"2019-09-12T20:20:06Z","updatedAt":"2019-09-24T18:17:01Z"},"siblings":{"en-US":"7-b29aa3e7ee-0swr1f"},"data":{"display_order":3,"jackpot_amount":2300000,"lottery_name":"New
        York Lotto","next_drawing":"2019-09-26","primary_color":"#3281BB"}},{"web":{"metaDescription":"","metaTitle":"Mega
        Millions","metaLinkText":"Mega Millions","metaKeywords":null,"parentZUID":null,"pathPart":null,"path":null,"sitemapPriority":-1,"canonicalTagMode":1,"canonicalQueryParamWhitelist":null,"canonicalTagCustomValue":null,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2019-09-23T18:06:56Z","updatedAt":"2019-09-23T18:06:56Z"},"meta":{"ZUID":"7-e0ababc5e7-j1q973","masterZUID":"7-e0ababc5e7-j1q973","contentModelZUID":"6-d08392dbc9[...]
