---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: UTF-8
      string: "-----------------------0d036a638345b5992aa6d9a1afc017d1030f751591\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------0d036a638345b5992aa6d9a1afc017d1030f751591\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------0d036a638345b5992aa6d9a1afc017d1030f751591--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------0d036a638345b5992aa6d9a1afc017d1030f751591
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"d6-1U/OXDZ7JnEo4Bwzpl13mvu4gt0"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"<TOKEN>"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Mon, 16 Mar 2020 16:20:42 GMT
- request:
    method: get
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/web/headtags
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2020-03-16T16:20:43.037298903Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":[{"ZUID":"21-b2c7e4f983-sz2bsp","type":"meta","attributes":{"content":"{globals.site_exit_confirmation_message}","name":"site_exit_confirmation_message"},"resourceZUID":"7-3bbb50-p3kf2h","sort":1,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","updatedByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2019-10-03T17:56:25Z","updatedAt":"2019-10-03T17:57:17Z"}]}

'
  recorded_at: Mon, 16 Mar 2020 16:20:43 GMT
recorded_with: VCR 5.0.0
