---
http_interactions:
- request:
    method: get
    uri: https://accounts.api.zesty.io/v1/instances/<INSTANCE_ZUID>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2019-09-24T16:35:19.257949038Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ID":8355883,"ZUID":"<INSTANCE_ZUID>","ecoID":null,"ecoZUID":null,"randomHashID":"2b8zbm48","domain":"jackpockettest3.zesty.site","name":"test3","planID":17,"cancelledReason":null,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","prefs":null,"blueprintID":1,"blueprintZUID":"14-64329e0-555644","requiresTwoFactor":0,"legacy":false,"screenshotURL":null,"createdAt":"2019-08-28T19:12:14Z","updatedAt":"2019-09-23T18:07:35Z"}}

'
  recorded_at: Tue, 24 Sep 2019 16:35:19 GMT
recorded_with: VCR 5.0.0
