---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: UTF-8
      string: "-----------------------f424633aefaf9423609945ebfcaaf2da2f866f71e7\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------f424633aefaf9423609945ebfcaaf2da2f866f71e7\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------f424633aefaf9423609945ebfcaaf2da2f866f71e7--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------f424633aefaf9423609945ebfcaaf2da2f866f71e7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"d6-z20ssjXSHFxgFz+OjfN1Nr4AwyI"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"<TOKEN>"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Mon, 16 Mar 2020 16:20:50 GMT
- request:
    method: get
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/content/models/6-d08392dbc9-9gl4bk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2020-03-16T16:20:50.714634979Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ZUID":"6-d08392dbc9-9gl4bk","masterZUID":"6-d08392dbc9-9gl4bk","parentZUID":"","description":"","label":"Featured
        Jackpots","metaTitle":null,"metaDescription":null,"metaKeywords":null,"type":"dataset","name":"featured_jackpots","sort":102,"listed":true,"module":0,"plugin":0,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","updatedByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2019-09-11T20:00:35Z","updatedAt":"2019-09-11T20:50:59Z"}}

'
  recorded_at: Mon, 16 Mar 2020 16:20:50 GMT
recorded_with: VCR 5.0.0
