---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: UTF-8
      string: "-----------------------e84815cb505bb434db7ac62d7aace41959d339d40c\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------e84815cb505bb434db7ac62d7aace41959d339d40c\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------e84815cb505bb434db7ac62d7aace41959d339d40c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------e84815cb505bb434db7ac62d7aace41959d339d40c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"d6-B7Hi5xXR/YA+Go3EvKfnpO7x4SU"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"<TOKEN>"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Mon, 16 Mar 2020 16:20:41 GMT
- request:
    method: get
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/content/models/6-d08392dbc9-9gl4bk/items/7-b29aa3e7ee-0swr1f
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2020-03-16T16:20:42.014219065Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"web":{"metaDescription":"","metaTitle":null,"metaLinkText":null,"metaKeywords":null,"parentZUID":null,"pathPart":null,"path":null,"sitemapPriority":0,"canonicalTagMode":0,"canonicalQueryParamWhitelist":null,"canonicalTagCustomValue":null,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2020-03-16T16:19:20Z","updatedAt":"2020-03-16T16:19:20Z"},"meta":{"ZUID":"7-b29aa3e7ee-0swr1f","masterZUID":"7-b29aa3e7ee-0swr1f","contentModelZUID":"6-d08392dbc9-9gl4bk","contentModelName":null,"sort":null,"listed":true,"version":71,"langID":1,"createdAt":"2019-09-12T20:20:06Z","updatedAt":"2020-03-16T16:19:20Z"},"siblings":{"en-US":"7-b29aa3e7ee-0swr1f"},"data":{"display_order":3,"jackpot_amount":2300000,"lottery_name":"New
        York Lotto","next_drawing":"2019-09-26","primary_color":"#3281BB"}}}

'
  recorded_at: Mon, 16 Mar 2020 16:20:42 GMT
recorded_with: VCR 5.0.0
