---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: UTF-8
      string: "-----------------------a02c99219f2c64c8b7c60551adc8de49e9e7e73531\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------a02c99219f2c64c8b7c60551adc8de49e9e7e73531\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------a02c99219f2c64c8b7c60551adc8de49e9e7e73531--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------a02c99219f2c64c8b7c60551adc8de49e9e7e73531
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"d6-EMwMQ2N3N0Mvr85NMQct78V3hJ0"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"<TOKEN>"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Mon, 16 Mar 2020 16:20:39 GMT
- request:
    method: get
    uri: https://accounts.api.zesty.io/v1/instances/<INSTANCE_ZUID>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2020-03-16T16:20:39.872892874Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ID":8355883,"ZUID":"<INSTANCE_ZUID>","ecoID":null,"ecoZUID":null,"randomHashID":"2b8zbm48","domain":"jackpockettest3.zesty.site","name":"test3","planID":17,"cancelledReason":null,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","prefs":null,"blueprintID":1,"blueprintZUID":"14-64329e0-555644","requiresTwoFactor":0,"legacy":false,"screenshotURL":"https://storage.cloud.google.com/zesty-screenshots/screenshots/jackpockettest3.zesty.site_1920_1080.png","createdAt":"2019-08-28T19:12:14Z","updatedAt":"2020-02-26T00:30:14Z"}}

'
  recorded_at: Mon, 16 Mar 2020 16:20:39 GMT
recorded_with: VCR 5.0.0
