---
http_interactions:
- request:
    method: post
    uri: https://svc.zesty.io/auth/login
    body:
      encoding: UTF-8
      string: "-----------------------a2b4dfda7a26a5ea5ddd8567482214a57507d2af51\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------a2b4dfda7a26a5ea5ddd8567482214a57507d2af51\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------a2b4dfda7a26a5ea5ddd8567482214a57507d2af51--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------a2b4dfda7a26a5ea5ddd8567482214a57507d2af51
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d6-eJmbxeWg0fsjGE9KbHthIWIvJao"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"e24fecc51b81e89a3a6bfdf67548a619af6c733c"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Tue, 24 Sep 2019 18:17:01 GMT
- request:
    method: put
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/content/models/6-d08392dbc9-9gl4bk/items/7-b29aa3e7ee-0swr1f
    body:
      encoding: UTF-8
      string: '{"data":{"lottery_name":"New York Lotto","jackpot_amount":2300000,"next_drawing":"2019-09-26
        02:59:00 UTC","primary_color":"#3281BB","jackpot":null,"display_order":3},"meta":{"listed":true,"masterZUID":"7-b29aa3e7ee-0swr1f"},"web":{}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2019-09-24T18:17:01.360449114Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ZUID":"7-b29aa3e7ee-0swr1f"}}

'
  recorded_at: Tue, 24 Sep 2019 18:17:01 GMT
recorded_with: VCR 5.0.0
