---
http_interactions:
- request:
    method: put
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/content/models/6-d08392dbc9-9gl4bk/items/7-b29aa3e7ee-0swr1f?publish=true
    body:
      encoding: UTF-8
      string: '{"data":{"lottery_name":"New York Lotto","jackpot_amount":2300000,"next_drawing":"2019-09-26
        02:59:00 UTC","primary_color":"#3281BB","jackpot":null,"display_order":3},"meta":{"listed":true,"masterZUID":"7-b29aa3e7ee-0swr1f"},"web":{}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2019-09-23T19:41:42.305278978Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ZUID":"7-b29aa3e7ee-0swr1f"}}

'
  recorded_at: Mon, 23 Sep 2019 19:41:42 GMT
- request:
    method: put
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/content/models/6-d08392dbc9-9gl4bk/items/7-b29aa3e7ee-0swr1f
    body:
      encoding: UTF-8
      string: '{"data":{"lottery_name":"New York Lotto","jackpot_amount":2300000,"next_drawing":"2019-09-26
        02:59:00 UTC","primary_color":"#3281BB","jackpot":null,"display_order":3},"meta":{"listed":true,"masterZUID":"7-b29aa3e7ee-0swr1f"},"web":{}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2019-09-24T16:35:26.008573873Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ZUID":"7-b29aa3e7ee-0swr1f"}}

'
  recorded_at: Tue, 24 Sep 2019 16:35:26 GMT
- request:
    method: get
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/content/models/6-d08392dbc9-9gl4bk/items/7-b29aa3e7ee-0swr1f
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2019-09-24T16:35:26.324300755Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"web":{"metaDescription":"","metaTitle":null,"metaLinkText":null,"metaKeywords":null,"parentZUID":null,"pathPart":null,"path":null,"sitemapPriority":0,"canonicalTagMode":0,"canonicalQueryParamWhitelist":null,"canonicalTagCustomValue":null,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2019-09-24T16:35:26Z","updatedAt":"2019-09-24T16:35:26Z"},"meta":{"ZUID":"7-b29aa3e7ee-0swr1f","masterZUID":"7-b29aa3e7ee-0swr1f","contentModelZUID":"6-d08392dbc9-9gl4bk","contentModelName":null,"sort":null,"listed":true,"version":60,"langID":1,"createdAt":"2019-09-12T20:20:06Z","updatedAt":"2019-09-24T16:35:25Z"},"siblings":{"en-US":"7-b29aa3e7ee-0swr1f"},"data":{"display_order":3,"jackpot_amount":2300000,"lottery_name":"New
        York Lotto","next_drawing":"2019-09-26","primary_color":"#3281BB"}}}

'
  recorded_at: Tue, 24 Sep 2019 16:35:26 GMT
- request:
    method: post
    uri: https://svc.zesty.io/sites-service/<INSTANCE_ZUID>/content/items/7-b29aa3e7ee-0swr1f/publish-schedule
    body:
      encoding: UTF-8
      string: '{"version_num":60}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Auth:
      - "<BEARER_TOKEN>"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Published","data":{"item_zuid":"7-b29aa3e7ee-0swr1f","version_zuid":"9-dadc9ea9f2-f2lfwm","version_num":"60"}}'
  recorded_at: Tue, 24 Sep 2019 16:35:26 GMT
recorded_with: VCR 5.0.0
