---
http_interactions:
- request:
    method: post
    uri: https://auth.api.zesty.io/login
    body:
      encoding: UTF-8
      string: "-----------------------38678f63246fd22b186277794eb06b6042614e8894\r\nContent-Disposition:
        form-data; name=\"email\"\r\n\r\n<EMAIL>\r\n-----------------------38678f63246fd22b186277794eb06b6042614e8894\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<PASSWORD>\r\n-----------------------38678f63246fd22b186277794eb06b6042614e8894--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=---------------------38678f63246fd22b186277794eb06b6042614e8894
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"d6-/PTppRHEG1ySRZA1gbc1WiPDoQE"
    body:
      encoding: UTF-8
      string: '{"message":"Logged in successfully.","status":"OK","data":{"data":"<TOKEN>"},"meta":{"userZuid":"5-c6d69fadc2-b8k5kz","token":"<TOKEN>"},"code":200}'
  recorded_at: Mon, 16 Mar 2020 16:20:47 GMT
- request:
    method: put
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/content/models/6-d08392dbc9-9gl4bk/items/7-b29aa3e7ee-0swr1f
    body:
      encoding: UTF-8
      string: '{"data":{"lottery_name":"New York Lotto","jackpot_amount":2300000,"next_drawing":"2019-09-26
        02:59:00 UTC","primary_color":"#3281BB","jackpot":null,"display_order":3},"meta":{"listed":true,"masterZUID":"7-b29aa3e7ee-0swr1f"},"web":{}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2020-03-16T16:20:47.657489347Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"ZUID":"7-b29aa3e7ee-0swr1f"}}

'
  recorded_at: Mon, 16 Mar 2020 16:20:47 GMT
- request:
    method: get
    uri: https://<INSTANCE_ZUID>.api.zesty.io/v1/content/models/6-d08392dbc9-9gl4bk/items/7-b29aa3e7ee-0swr1f
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_meta":{"timestamp":"2020-03-16T16:20:48.277828402Z","totalResults":1,"start":0,"offset":0,"limit":1},"data":{"web":{"metaDescription":"","metaTitle":null,"metaLinkText":null,"metaKeywords":null,"parentZUID":null,"pathPart":null,"path":null,"sitemapPriority":0,"canonicalTagMode":0,"canonicalQueryParamWhitelist":null,"canonicalTagCustomValue":null,"createdByUserZUID":"5-c6d69fadc2-b8k5kz","createdAt":"2020-03-16T16:20:48Z","updatedAt":"2020-03-16T16:20:48Z"},"meta":{"ZUID":"7-b29aa3e7ee-0swr1f","masterZUID":"7-b29aa3e7ee-0swr1f","contentModelZUID":"6-d08392dbc9-9gl4bk","contentModelName":null,"sort":null,"listed":true,"version":72,"langID":1,"createdAt":"2019-09-12T20:20:06Z","updatedAt":"2020-03-16T16:20:47Z"},"siblings":{"en-US":"7-b29aa3e7ee-0swr1f"},"data":{"display_order":3,"jackpot_amount":2300000,"lottery_name":"New
        York Lotto","next_drawing":"2019-09-26","primary_color":"#3281BB"}}}

'
  recorded_at: Mon, 16 Mar 2020 16:20:48 GMT
- request:
    method: post
    uri: https://svc.zesty.io/sites-service/<INSTANCE_ZUID>/content/items/7-b29aa3e7ee-0swr1f/publish-schedule
    body:
      encoding: UTF-8
      string: '{"version_num":72}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      X-Auth:
      - "<BEARER_TOKEN>"
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Published","data":{"item_zuid":"7-b29aa3e7ee-0swr1f","version_zuid":"9-8ac1d4c6ba-4g4126","version_num":"72"}}'
  recorded_at: Mon, 16 Mar 2020 16:20:48 GMT
recorded_with: VCR 5.0.0
